# Port
PORT = "3013"

# Optional client IP header for platforms that don't use X-Forwarded-For
# CLIENT_IP_HEADER = "do-connecting-ip"

# Redirect to official server
REDIRECT_UPDATES = "true"

# Redirect to official server
REDIRECT_NOTIFICATIONS = "true"

# S3 (DigitalOcean Spaces)
# Only required if you choose not to redirect
S3_ACCESS_KEY_ID = "my-access-key-id"
S3_SECRET_ACCESS_KEY = "my-access-key"
S3_BUCKET_NAME = "my-bucket"
S3_DOMAIN = "my-spaces-domain.com"
S3_REGION = "fra1"

# FCM (Firebase Cloud Messaging)
# Only required if you choose not to redirect
FCM_PROJECT_ID = "my-firebase-project-id"
FCM_SERVICE_ACCOUNT_JSON_AS_BASE64 = "SGVsbG8gV29ybGQ="
